
.Q1{
  background-color: #FFF9B1;
  height: 200px;
  padding: 20px;
}

.Q1 h1{
  font-size: 18px;
}


.Q2{
  background-color: #FFFFFF;
  height: 200px;
  padding: 20px;
}

.Q2 h1{
  font-size: 18px;
}

.Q3{
  background-color: #FFF9B1;
  height: 200px;
  padding: 20px;
}

.Q3 h1{
  font-size: 18px;
}

.Q4{
  background-color: #FFFFFF;
  height: 200px;
  padding: 20px;
}

.Q4 h1{
  font-size: 18px;
}

.Q5{
  background-color: #FFF9B1;
  height: 200px;
  padding: 20px;
}

.Q5 h1{
  font-size: 18px;
}

.Q6{
  background-color: #FFFFFF;
  height: 200px;
  padding: 20px;
}

.Q6 h1{
  font-size: 18px;
}

.Q7{
  background-color: #FFF9B1;
  height: 200px;
  padding: 20px;
}

.Q7 h1{
  font-size: 18px;
}

.Q8{
  background-color: #FFFFFF;
  height: 200px;
  padding: 20px;
}

.Q8 h1{
  font-size: 18px;
}

.Q9{
  background-color: #FFF9B1;
  height: 200px;
  padding: 20px;
}

.Q9 h1{
  font-size: 18px;
}

.Q10{
  background-color: #FFFFFF;
  height: 200px;
  padding: 20px;
}

.Q10 h1{
  font-size: 18px;
}
